<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>Detail Province</h1>
<p><a href="/provinces">Back to list </a></p>
<h1>View province: <span th:text="${province.name}"></span></h1>
<table border="1">
    <tr>
        <th>name</th>
    </tr>
    <th:block th:each="customer: ${customers}">
        <tr>
            <td th:text="${customer.name}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>