<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<h1>Information Customer</h1>
<p><a href="/customers/create">create</a></p>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
        <tr>
            <td>Name</td>
            <td>Province</td>
            <td>Detail</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <div th:each="customer : ${list}">
        <tr>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.province.name}"></td>
            <td><a th:href="@{'/customers/detail/'+ ${customer.getId()}}">detail</a></td>
            <td><a th:href="@{'/customers/edit/'+ ${customer.getId()}}">edit</a></td>
            <td><a th:href="@{'/customers/delete/'+ ${customer.getId()}}">Xóa</a></td>
        </tr>
        </div>

    </table>
<div>
    <a th:href="@{'/customers'(page=${list.number - 1})}" th:if="${list.hasPrevious()}">Previous</a>
    <span th:text="${list.number + 1}"></span>/<span th:text="${list.totalPages}"></span>
    <a th:href="@{'/customers'(page=${list.number + 1})}" th:if="${list.hasNext()}">Next</a>
</div>
</div>
</body>
</html>